.events-tabel{
  min-width: 60%;

 
}

.card{
    background-color: #DAC8E3;
    transition-property: all;
    transition-duration: .4s;
    margin: 10px 0;
}

.card:hover{
        background-color: #ADB4B8;
        border-width: 3px;
        border-color: #b82626;
        border-radius: 10px; 
        box-shadow: 0 0 10px #ccc;
}

.btn {
    margin: 0 20px;;
}